*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@import 'color';
@import 'Header';
@import 'home';
@import "MediaQuery";

body {
    background-color: $primary;
   
}